<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Find your cheap camp</title>
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >
        <link type="text/css" rel="stylesheet" href="/assets/css/landing.css" >
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> 
        
        </head>