<% include ../partials/header %>
 <form class="bg-dark white top10" action="/campground/<%campground._id%>/comments" method="POST">
  <div class="container">
    <div class="form-group col-md-12">
      <label for="discription"><sub>Please keep your comments family friendly</sub></label>
      <textarea type="text" class="form-control" name="discrip" placeholder="Discribe the camping area you stay at"></textarea>
    </div>
  <button class="btn btn-lg btn-secondary btn-dark btn-block border" type="submit">Add Comment</button>
</div>
</form>
</div>