<% include ./partials/landingHeader%>
 <div id="landing-header">
 		<h1 class="textseen">Welcome to Camp Cheap.</h1>
		<a href="/campground" class="btn btn-lg btn-success bg-darkO textseen">View All Campgrounds</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/footer %>