<% include partials/headerlanding %>
    <div class="text-center container font">
        <div class="jumbotron">
            <h1 class="textshadow">Welcome to FreeCamper</h1>
            <hr>
            <h3 class="textshadow">The best place to find a cheap camp site world wide</h3>
            <a href="/login" class="btn btn-secondary btn-lg">Go Camp</a>
        </div>
    </div>

<% include partials/footer %>