body {
  height: 100%;
  width:100%;
  background-color: rgba(85, 107, 47, 1);
  background-clip: border-box;
}
.font{
   font-family: 'Roboto Mono', monospace;
}
.fontlg{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}
.fontsm{
    font-family: 'Roboto Mono', monospace;
    font-size: .6em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*.textshadow{*/
/*  text-shadow:3px 3px 5px white, 4px 4px 3px black;*/
/*}*/
.jumbotron{
  border-radius: 150px;
  background-image:url("http://www.freepngimg.com/download/globe/4-2-globe-png-file.png");
  background-repeat: no-repeat;
  background-size:25% ;
 }
.card{
    margin-bottom: 20px;
}
#center{
  margin-left:50%;
}
.white{
  color:white;
}
.pushbottom{
  margin-bottom: 100px;
}
a{
  color:white;
}
.bordergreen{
 border:1px solid darkgreen;
}
.top10{
    margin-top: 10px;
}
.bottom10{
    margin-bottom: 10px;
}
.bg-green{
  background-color: rgba(76, 90, 48, 1)
}
.gutter15{
  padding: 0 15px;
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}
ol{
  list-style-type: none;
}
.padding-5{
  padding:5px;
  
}
.bordergreen2{
 border:2px solid darkgreen;
 border-radius:5px;
}
.card img{
  height: 200px;
}