
<% include ../partials/header %>
<div class="container font">
<header class="jumbotron  white bg-dark top10">
    <div class=" text-center">
        <h1 class="textshadow">Camp around the world with us!</h1>
        <hr>
         <form class="form-inline my-2 my-lg-0 white" method="" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0 white" type="submit">Search</button>
        </form>
    </div>
</header>

<div class="row text-center">
    <% campgrounds.forEach(function(campground){%>
    
            <div class="col-md-4 col-sm-6 flex" >
                <div class="card bg-dark" style="width: 100%; height: 100%;">
                    <div class="card-body">
                      <img class="card-img-top text-danger" src="<%=campground.image%>" alt="Image failed to load">
                      
                        <h5 class="card-title text-light"><%= campground.name%></h5>
                        <p class="card-text text-light"><%= campground.discrip%></p>
                        <a href="/campground/<%=campground.id%>" class="btn btn-secondary">Read More</a>
                      </div>
                </div>
        </div>
    
    <% }); %>
</div>
</div>
<% include ../partials/footer %>