html, body {
  height: 100%;
  width:100%;
background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.font{
   font-family: 'Roboto Mono', monospace;
}
.fontlg{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}
.fontsm{
    font-family: 'Roboto Mono', monospace;
    font-size: .6em;
}
.center{
    text-align: center;
    margin: 0 auto;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*.textshadow{*/
/*  text-shadow:3px 3px 5px white, 4px 4px 3px black;*/
/*}*/
.jumbotron{
  border-radius: 150px;
  background-image:url("/images/glob.png");
  background-repeat: no-repeat;
  background-size:100% ;
 }
.card{
    margin-bottom: 20px;
}
#center{
  margin-left:50%;
}
.white{
  color:white;
}
.pushbottom{
  margin-bottom: 100px;
}
a{
  color:white;
}
.bordergreen{
 border:1px solid darkgreen;
}
.top10{
    margin-top: 10px;
}
.top20{
    margin-top: 20px;
}
.bottom10{
    margin-bottom: 10px;
}
.bg-green{
  background-color: rgba(76, 90, 48, 1)
}
.gutter15{
  padding: 0 15px;
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}
ol{
  list-style-type: none;
}
.padding-5{
  padding:5px;
  
}
.bordergreen2{
 border:2px solid darkgreen;
 border-radius:5px;
}
.card img{
  height: 200px;
}
.text-center{
  margin-top: 10%;
}
.jumbotron{
  margin-top: 10px;
  border-radius: 150px;
  background-image:url("/assets/images/globe.png");
  background-repeat: no-repeat;
  background-size:25% ;
 
}
hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
a{
  margin-bottom: -2%;
  margin-top: 20px;

}
.bottomspace{
  margin-bottom: 10px;
}
.delete-form{
  display: inline;
}.bg-darkO{
  background-color: rgba(0, 0, 0, .1)
}
.xspadding{
  padding: -6px;
}
.rounded{
  border: 0px solid rgba(0, 0, 0, .0);
  border-radius: 50%;
}