
<% include ../partials/header %>
<div class="row center container text-center">
	<div class="col-md-6 center bg-darkO ">
		<form action="/help/forgot" method="POST">
			<h2>Forgot your password?</h2>
			<div class="form-group">
			<sub>Enter you <label for="email">Email</label> below.</sub>	
				<input type="email" name="email" placeholder="nthewoods@freecamp.com"autofocus class="form-control center">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Reset Password">
			</div>
		</form>
	</div>
</div>
<% include ../partials/footer %>